@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

// TODO: Also add weights; 

$p-font-size-mobile : 14px;
$p-font-size-small  : 16px;
$p-font-size-medium : 18px;
$p-font-size-large  : 19px;

$h1-font-size-mobile: 28px;
$h1-font-size-small : 31px;
$h1-font-size-medium: 32px;
$h1-font-size-large : 36px;

$a-font-size-mobile : 15px;
$a-font-size-small  : 16px;
$a-font-size-medium : 17px;
$a-font-size-large  : 19px;