@import "../../../styles/global/palatte";

.container {
    display: flex;
    flex-direction: column;
    height: 127px;
    width: 258px;
    box-shadow: 0px 4px 30px rgb(0 0 0 / 10%);
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 8px;
}

.fullCard {
    width: 100%;
}

.container p {
    margin: 0;
}

.container label {
    color: $dark-grey;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
}

.container .row {
    display: flex;
    width: 100%;
    height: 100%;
}

.row div {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.goalContainer {
    border-right: 1px solid $light-grey;
    align-items: flex-start;
    text-align: left;
    justify-content: space-between;
    padding-right: 20px;
}

.goalContainer p {
    color: $main-black;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.goalContainer .dueDate {
    font-size: 12px;
    line-height: 16px;
    color: $dark-grey;
}

.milestoneContainer {
    align-items: center;
    text-align: center;
}

.milestoneContainer p {
    font-size: 14px;
    line-height: 16px;
    color: $main-black;
}

.milestoneContainer .count {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: $purple;
    margin-top: 8px;
}

.fullMilestoneContainer div {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
}

.fullMilestoneContainer p {
    font-size: 14px;
    line-height: 16px;
    color: $main-black;
}

.fullMilestoneContainer .count {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: $purple;
}

.disabled p {
    color: $dark-grey;
}

.disabled .count {
    color: $dark-grey;
}
