@import "../../../styles/global/palatte";

.row {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    border-style: none;
    background: #f2f4f5;
}

.icon {
    display: block;
    margin: 10px;
}

.inputField {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-style: none;
    background: #f2f4f5;
}
