@import '../../../styles/global/palatte';
@import '../../../styles/global/fonts';

.link {
    text-decoration: none;
    border-radius: 48px;
    height: 48px;
    display: flex;
    width: 127px;
    text-align: center;
    font-weight: 500;
    font-size: $a-font-size-small;
    line-height: 16px;
    justify-content: center;
    flex-direction: column;
}

.primary {
    background: $purple;
    color: $white;
}

.secondary {
    background: none;
    color: $main-black;
}