@import '../../../../styles/global/palatte';

.nav-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: $dark-grey;
}

.selected {
    color: $purple;
}